<ion-menu side="start" menuId="first" contentId="main" type="overlay">
  <ion-header class="mainMenu" >
    <ion-toolbar class="mainMenu">
      <!-- <ion-title>Start Menu</ion-title> -->
      <ion-title><img src="assets/img/oktajapan-white.png"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item class="menuItem1" button href="/home">
          <ion-icon name="home-outline" class="MenuIcon"></ion-icon>
          <ion-label>ホーム</ion-label>
        </ion-item>

        <ion-item button href="/profile">
          <ion-icon name="person-circle-outline" class="MenuIcon"></ion-icon>
          <ion-label>プロファイル</ion-label>
        </ion-item>

        <ion-item href="https://github.com/mortpanda/ionic-okta-login-widget-1" target="_blank"><img src="assets/img/github.png" class="git_logo">Github Repo</ion-item>
        <ion-item href="https://www.okta.com/jp/" target="_blank">Oktaジャパンホームページ</ion-item>
        <ion-item href="https://developer.okta.com/" target="_blank">Oktaディベロッパーサイト</ion-item>
        <ion-item href="https://status.okta.com/" target="_blank">Oktaシステムステータス</ion-item>
        
        <ion-item button (click)="LogOut()" class="logoutBtn">
          <ion-label>サインアウト</ion-label>
          <ion-icon name="log-out-outline" class="LogoutIcon"></ion-icon>
        </ion-item>

      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>