<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <!-- プロファイル -->
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="profileBody">
  <div text-center>
    <ion-img src="assets/img/oktajapan.png" width="auto"></ion-img>
  </div>
  <ion-card>
    <ion-card-header class="cardHeader">
      <ion-card-title class="cardTittle">
        <ion-icon name="person-sharp" class="profileIcon"></ion-icon>ユーザー情報
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <a class="userLabel">名前 : </a>
      <a class="oktaUser">{{this.GetUserinfoService.strFullname}}</a>
      <br>
      <a class="userLabel">ユーザーID : </a>
      <a class="oktaUser">{{this.GetUserinfoService.strUserID}}</a>
      <br>
  
      <a class="userLabel">Eメール : </a>
      <a class="oktaUser">{{this.GetUserinfoService.UserEmail}}</a>
      <br>
      <a class="userLabel">アカウントステータス : </a>
      <a class="oktaUser">{{this.GetUserinfoService.UserStatus}}</a>
      <br>
      <a class="userLabel">アカウント作成日 : </a>
      <a class="oktaUser">{{this.GetUserinfoService.UserCreatedDate}}</a>
      <br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="cardHeader">
      <ion-card-title class="cardTittle">
        <ion-icon name="business-sharp" class="profileIcon"></ion-icon>所在地
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <a class="userLabel">郵便番号 : </a>
      <a class="oktaUser">{{this.GetUserinfoService.UserZip}}</a>
      <br>
      <a class="userLabel">市町村 : </a>
      <a class="oktaUser">{{this.GetUserinfoService.UserLocality}}</a>
      <br>
      <a class="userLabel">国 : </a>
      <a class="oktaUser">{{this.GetUserinfoService.UserCountry}}</a>
      <br>
    </ion-card-content>
  </ion-card>


  <ion-card > 
    <ion-card-content class="ucCardContent">
      <h1><ion-icon name="desktop-sharp" class="ucIcon"></ion-icon><a class="ucHead">ご利用中のソリューション</a></h1>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-img src="assets/img/okta_ciam_white.png" class="okta_img"></ion-img> 
      <ion-checkbox class="ucChk" color="tertiary" [checked]="!this.GetUserinfoService.UserCIAM"></ion-checkbox>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="assets/img/okta_wf_white.png" class="okta_img"></ion-img>      
      <ion-checkbox class="ucChk" color="tertiary" [checked]="!this.GetUserinfoService.UserWF"></ion-checkbox>
    </ion-item>
  </ion-card>
  
</ion-content>