.profileBody {
    color: black !important;
}

.alert-message,
.sc-ion-alert-md {
    background: white !important;
    color: #00297a !important;
}

.oktajapanBanner {
    margin: auto;
    
}

.userLabel{
    color: #AAAAB4!important;
    margin-bottom: 5px!important;
}
.oktaUser{
    color: white!important;
    margin-bottom: 5px!important;
}

  .profileIcon{
    margin-right: 10px!important;
}

.okta_img{
    margin-top: 15px!important;
    margin-bottom: 20px!important;
    margin-left: 5px!important;
    margin-right: auto!important;
}
.ucChk{
    margin-right: 15px!important;
    margin-left: 15px!important;
}
.ucIcon{
    color: white!important;
    margin-right:10px!important;
    margin-top: 10px!important
}

.ucHead{
    color: white!important;
    font-weight: 600!important;
}

